
<div class="banner" id="sec1">
  <a href="#sec2">  click me</a>
</div>



<ul>
  <div class="card_body" id="sec2">

    <div class="pour"><li><%= link_to "V60 Pour Over", pourover_index_path %></li></div>
    <div class="moka"><li><%= link_to "Moka Pot", moka_index_path %></li></div>
    <div class="siphon"><li><%= link_to "Siphon", siphon_index_path %></li></div>
    <div class="french"><li><%= link_to "French Press", french_index_path %></li></div>

  </div>
</ul>
