<ul>
  <li><%= link_to "V60 Pour Over", pourover_index_path %></li>
  <li><%= link_to "Moka Pot", pourover_index_path %></li>
  <li><%= link_to "Siphon", pourover_index_path %></li>
  <li><%= link_to "French Press", pourover_index_path %></li>
</ul>
